

/* LOGO */
body {
  padding-top: 130px;
  font-family: 'Raleway', sans-serif;

}

.logo {
  width:35%;
  border-radius: 50%;
}

.brand-logo {
  width:10rem;
}

/* navas */

.bg-light {
  background-color: rgb(96, 141, 92) !important;
}

/* jumbo */
.jumbotron {
  padding-bottom: 1rem;
  background-color: #ecf3ec;
}


.navbar-light .navbar-nav .nav-link {
  color: black;
  font-size: 1.1em;
  font-weight: 400;
  word-spacing: .5em;
  letter-spacing: .2em;

}


.display-4 {
  font-size:5em;
  font-weight:800;
}

.nav-link:hover {
  color:#fff !important;
  transition: .6s !important;
}

.footer {
  background-color: rgb(96, 141, 92);
  padding: 0.5rem;
  text-align: center;
  margin-top:.8em;
}
