
body {
  font-family: 'Raleway', sans-serif;
  background-color: rgba(181, 201, 219, 0.815);
}

img {
  width:30%;
  float: left;
  margin: 1.66%;
}

p {
  font-size: 2rem;
  border-bottom: 2px solid #da5c2bc9;
  margin-left: 1.66%;
  width: 30%;
  font-style: italic;
  font-weight: 800;
  padding-bottom: .5em;
} 

p:hover {
  color:#da5c2bc9;
  border-color: black;
  transition: 1.2s;
 } 
